
@import url(/Abriuchaveiro/assets/CSS/cabeçalho.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif; 
    box-sizing: border-box;
}

/* seção Titulo */
.seçao__titulo__principal {
    width: 100%;
    height: 70vh;
    background: url('/Abriuchaveiro/assets/img/background_contato.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titulo__principal__container {
    padding: 2.5% 0 2.5% 0;
    background-color: #e7e7e736;

    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
    
}
.titulo__principal, .subtitulo__principal {
    color: rgba(32,33,36,255);
    font-weight: lighter;
    text-align: center;
    font-size: 3vw;
}
.subtitulo__principal {
    line-height: 3vw;
    font-weight: lighter;
    font-size: 2vw;
}
/* ---------------- */

/* Formulário */
.seçao__campo__formulario {
    display: flex;
    flex-flow: row wrap;
    height: 900px;
}

/* seção texto informativo lateral */
.campo__texto__informativo__container {
    width: 30%;
}

.campo__texto__informativo--posiçao {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(216, 181, 92);
    
    
}
.texto__informativo--titulo, .texto__formulario--titulo  {
    color: rgba(32,33,36,255);

    font-weight: bold;
    font-size: 1.5vw;
    padding-bottom: 2%;
    text-align: center;
}
.texto__informativo--subtitulo {
    color: rgba(32,33,36,255);
    padding-right: 10%;
    font-size: 1.2vw;
    line-height: 1.2;  
    text-align: center;
    padding: 0 6%;
}
/* ------------------ */

/* seção formulário */
.campo__formulario__container {
    background-color: goldenrod;
    width: 70%;
    
}


.fildset__dados {
    margin:0 auto;
    width: 90%;
    position:relative;
    top: 20px;
    
    
    background-color:rgb(216, 181, 92);
}

.input__wrapper {
    width:100%;
    display: block;
    

    padding:10px 0 10px 0;
}

.label__referencia {
    display: block;
    color:#bbbbbb;
    font-size:12px;
    float:left;
    width:100px;
    text-align:right;
    padding:5px 20px 0 0;
}

.input {
    padding:10px 10px;
    width:100px;
    background:#cecece;
   
}

.input-label {
    color: #fefefe;

    display: block;
    
    float:left;
    width:100px;
    text-align:right;
    padding:5px 20px 0 0;
}


.input:focus {
    outline: none;
}

.captcha__container{
    
    float: right;
}
.botao__enviar {
    border: transparent;
    border-radius: 10px;

    background: rgb(196,196,196);
    background: linear-gradient(245deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%);
    width: 20%;
    height: 10%;
    padding: 2%;
    margin-left: 80%;
    

    transition: none;

}
.botao__enviar p{
    
    font-size: 1.8em;
    font-weight: lighter;


    padding: 5%
}
.botao__enviar:hover {
    background: rgb(78, 78, 78);
    color: white;

    transition: none;
}

.span__required {
    display: none;
}
/* -------------------- */
