
@import url(/Abriuchaveiro/assets/CSS/cabeçalho.css);


* {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif; 
    box-sizing: border-box;
}

/* seção Titulo */
.seçao__titulo__principal {
    width: 100%;
    height: 70vh;
    background: url('/Abriuchaveiro/assets/img/background_contato.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titulo__principal__container {
    padding: 2.5% 0 2.5% 0;
    background-color: #e7e7e736;

    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
    
}
.titulo__principal, .subtitulo__principal {
    color: rgba(32,33,36,255);
    font-weight: lighter;
    text-align: center;
    font-size: 3vw;
}
.subtitulo__principal {
    line-height: 3vw;
    font-weight: lighter;
    font-size: 2vw;
}
/* ---------------- */

/* Formulário */
.seçao__campo__formulario {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}

/* seção texto informativo lateral */
.campo__texto__informativo__container {
    width: 30%;
}
.campo__texto__informativo--posiçao {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgb(216, 181, 92);
}
.texto__informativo--titulo, .texto__formulario--titulo  {
    color: rgba(32,33,36,255);

    font-weight: bold;
    font-size: 1.5vw;
    margin-bottom: 3%;
    text-align: center;
}
.texto__informativo--subtitulo {
    color: rgba(32,33,36,255);
    padding-right: 10%;
    font-size: 1.2vw;
    line-height: 1.2;  
    text-align: center;
    padding: 0 6%;
}
/* ------------------ */

/* seção formulário */
.campo__formulario__container {
    background-color: goldenrod;
    width: 70%;
}

.fildset__dados, .fildset__mensagem {
    margin:0 auto;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 2.5%;
    background-color:rgb(216, 181, 92);
}
.fildset__dados{
    padding-top: 2.5%;
}
.fildset__mensagem {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2.5%;
    padding-left: 16%;

}
.fildset__dados label {
    display: inline-block;
    width: 150px;
    vertical-align: center;
    
    font-size: 1.8em;
}
.fildset__dados .wrapper:last-child label {
    vertical-align: top;
}

.fildset__dados input, .input__mensagem {
    padding: 20px 35px;
    border: transparent;
    background: #cecece;
    font-size: 1.1em;
}
.wrapper{
    
    border-top: 1px solid rgb(27, 27, 27);
    padding: 2.5%;
}
.input:focus, .input__mensagem:focus {
    outline: none;
}

.botao__enviar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px black;    


    background: rgb(230, 230, 230);
    background: linear-gradient(245deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%);
    width: 10vw;
    height: 8vh;

}
.botao__enviar p{
    
    font-size: 1.8em;
    font-weight: lighter;
}
.botao__enviar:hover{
    transition: 0.5s;
    box-shadow: none;
}
.enviar--efeito{
    margin-left: 2.5%;
}
.botao__enviar:hover .enviar--efeito{
    margin-left: 8%;
    transition: 0.5s;
    display: block;
    color: rgb(20, 175, 20);
}

.botao__enviar .captcha__container {
    display: flex;
    flex-direction: row;
}

.span__required {
    display: none;
}
/* -------------------- */
