*{
    box-sizing: border-box;
    transition: 1s;
}

/* cabeçalho */
.recurso-cabeçalho {
    background: #f1f1f1;
}
.container-cabeçalho {
    width: 100%;
    height: auto; 
}
.recurso-cabeçalho .container-cabeçalho, .logo-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-cabeçalho {
    width: 6em;
    margin: 1em 1em 1em 3em;
}
.cabeçalho-menu-nav {
    background: goldenrod;
    display: flex;

    align-items: center;   

    padding: 0 3em 0 2em;
    height: 4em;

    border:0.3em solid inherit;
    border-radius: 60em 0 0 1em;
    box-shadow: 0px 6px 10px 1px #777777;
}
.cabeçalho-menu-nav a {
    margin-right: 1em;
}
.titulo-cabeçalho {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size:1.3em;
    font-weight: bold;
    
    color: #9c1515;
}
.cabecalho-navegaçao {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size:1.3em;
    
    color: #000000;
}
.cabecalho-navegaçao:hover {
    text-decoration:underline;
    color: #ffffff;
    font-weight: bolder;
    
    transition: 0.5s;
    cursor: pointer;
}
/* fim cabeçalho ------------ */

/* Corpo site */
main {
    background: goldenrod
}
/* ------------ */

/* Banner */
section .banner {
    width: 100%;
    height: 45em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    filter: blur(2px);
}
.container-texto-banner {
    position: absolute;
    width: 100%;
    top: 30%;
}
.texto-principal {
    font-family: 'Open Sans', sans-serif;
    color: #cecece;
    animation: transiçao-cor 2s infinite alternate none;
    text-align: center;
    top: 1em;
    font-size: 5em;
    line-height: 2em;
}
@keyframes transiçao-cor {
    0%   {color: #cecece;}
    100% {color: goldenrod;}
}
/* ------------ */


/* Celular e perguntas */

.celular-perguntas .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.container {
    width: 100%;
    padding: 10em 0 0 0;
    
}
.celular-main {
    width: 30em;
    display: inline-block;  
}

.celular-main:hover {
    opacity: 80%;
    cursor: pointer;
}
.container-perguntas {
    width: fit-content;
    height: 100%;
}

.divisao-perguntas {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(46, 46, 46);
    
    font-size: 2.1em;
    line-height: 3em;
    margin: 0 1em 0 1em;
}
.divisao-perguntas p {
    
    margin-top: 10%;
}
.botoes-perguntas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;

  
}
.botoes-perguntas a {
    text-decoration: none;
}
/* ---------------- */

/* botoes flutuantes email e whatsapp */
.box-whats {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    width: 30em;
    margin-right: 5em;
    height:15em;

    border: 5% solid transparent;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.63);
    box-shadow:  20px 10px 30px rgba(52, 175, 35, 0.74);
}
.texto-box-whats {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.84);
    font-size: 1.5em;
}
.botao-whatsapp-boxwhats {
    margin: 2em 0;
    width: 30em;
    height: 5em;

    background: rgb(52, 175, 35);

    border: transparent;
    border-radius: 4em;
    box-shadow: 0px 0px 30px rgba(52, 175, 35, 0.45);
    cursor: pointer;
}
.texto-botao-whatsapp {
    font-family: 'Open Sans', sans-serif;
    
    color: rgba(255, 255, 255, 0.84);
    font-size: 1.5em;
}
.icon-whats {
    width: 3em;
    margin: 0px 10px 0px 0px;
    vertical-align: middle;
}

.box-whats:hover {
    background: #70c934;
    font-style: oblique;
}
.box-whats:hover .texto-box-whats {
    color: #ffffff;
}
.box-whats:hover .botao-whatsapp-boxwhats {
    font-style: oblique;
}

.box-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30em;
    height:15em;
    margin:0 1em 0 5em;


    border: 5% solid transparent;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.63);
    box-shadow:  20px 10px 30px rgba(255, 68, 0, 0.74);
}
.texto-box-email {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.84);
    font-size: 1.5em;
}
.botao-email-boxmail {
    margin: 2em 0;
    width: 30em;
    height: 5em;

    background: rgb(255 70 0);

    border: transparent;
    border-radius: 4em;
    box-shadow: 0px 0px 30px rgba(255, 68, 0, 0.74);
    cursor: pointer;
}
.texto-botao-email {
    font-family: 'Open Sans', sans-serif;

    color: rgba(255, 255, 255, 0.84);
    font-size: 1.5em;
}
.icon-mail {
    width: 2em;
    margin: 0px 15px 0px 0px;
    vertical-align: middle;
}

.box-email:hover {
    transition: 1s;
    background: #f12f29ce;
}
.box-email:hover .texto-box-email {
    color: rgba(255, 255, 255, 0.84);  
    font-style: oblique;
}
.box-email:hover .texto-botao-email {
    color: 	#0068ca;
    font-style: oblique;
}  
.box-email:hover .botao-email-boxmail {
        transition: 1s;
        background: #ffffff;
}
/* ------------ */

/* carrossel */

.bloco-carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height:40em;
    background: goldenrod;
    
}
.carrossel {
    width:100%;
    height: 15.5em;
    border:none;
    box-shadow: 0 0 10em rgba(255, 255, 255, 0.74);
    position: relative;
    overflow: hidden;   
}
.carrossel ul {
    display: flex;
    list-style: none;
    width: 1200px;
    height: 250px;
}
.carrossel li {
    position: relative;   
    animation-name: slide;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-delay: 2s;
}

@keyframes slide {
    0%{left: 0px}
    25%{left: -800px}
    50%{left: -1600px}
    75%{left: -2400px}
    100%{left: -3200px}
}
/* ------------ */

/* G maps */

.textos {

    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2em;
    padding: 0.5em;
}
.g-imagens {
    width: 30%;
    height: 100%;
}
.fotos-banca {
    display: flex;
    justify-content:space-between;
    top: 0;
    flex-direction: row;
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recurso-mapa {
    width: 100%
}
.mapa {
    width: 100%;
    height: 50vh;
}
.container2 {
    background: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 5% 5%;
    display: flex;
}

/* Blog */

.blog {
    margin:0;
    width:100%;

}
.blog .container {
    margin:0;
    background: goldenrod;
    padding: 5% 8% 5% 2%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.blog-frame {
    width: 90%;
    height: 40em;
}
.blog p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    padding: 5% 0;
}

/* rodapé */

.container-rodape {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;

    background: rgb(49, 49, 49);
    border-style: solid;
    border-color: goldenrod;
    border-width:  0 0 6px 0;
    
    
    bottom: 0 !important;
    width: 100%;
    height: 20em;
}

.box-pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 0.5em;
}
.img-pagamento {
    width: 100%;
    margin: 5% 0;
}
.texto-pagamento {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: goldenrod;
}

.botao-telefone {
    margin-top: 2.5%;
    width: 20em;
    height: 4em;
    background: rgb(255 70 0);
    border: transparent;
    border-radius: 4em;
    box-shadow: 0px 0px 30px rgba(255, 68, 0, 0.74);

}
.botao-telefone:hover,.whatsapp-rodape:hover {
    filter: brightness(70%);
    transition: 0.5s;
    cursor: pointer;
}
.texto-ligue-ja {
    font-family: 'Open Sans', sans-serif;
    
    color: rgba(255, 255, 255, 0.84);
    font-size: 1.5em;
}
.whatsapp-rodape {
    width: 20em;
    height: 4em;
    background: rgb(52, 175, 35);
    border: transparent;
    border-radius: 4em;
    box-shadow: 0px 0px 30px rgba(52, 175, 35, 0.45); 
}
.texto-whats-rodape {
    font-family: 'Open Sans', sans-serif;
    
    color: rgba(255, 255, 255, 0.84);
    font-size: 1.5em;
}
.whatsapp-button {
    width: 8%;
    bottom: 8.5em;
    padding: 1em;
    position: sticky;

    margin-left: 92%;
}
/* copyright no rodapé */

.copyright {
    background: rgba(97, 97, 97, 0.664);
    width: 100%;
    height: auto;
    
    text-align: center;
    padding:2.5em;
}

.copyright p {
    font-family: 'Open Sans', sans-serif;
    
    color: #000000;
    font-size: 1em;
    font-weight: 600;
    line-height: 2em;
}