@media screen and (min-width: 360px) and (max-width: 480px) {
main {
    overflow: hidden;
}
/* ---------------- */

/* Banner */
.texto__banner {
    font-size: 10vw;
    line-height: 1.5em;
}
.texto__banner__container h2 {
    font-size: 5vw;
}
.texto__banner__container h3 {
    font-size: 3.7vw;
}
.seçao__banner__container {
    height: 85vh;
    background-attachment:fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: none;
}
/* ---------------- */

/* Seção Perguntas (DESATIVADO NO MOBILE) */
.seçao__perguntas__container {
    display: none;
}
/* ---------------- */

/* Seção serviços */

.serviços__titulo {
    padding: 5% 0;
}
.primeiro-bloco__serviços, .segundo-bloco__serviços {
    display: inline;
    width: 100%;
    height: 30vh;
    padding: 2% 0;
}
.primeiro-bloco__lista__item, .segundo-bloco__lista__item {
    display: none;
}
.primeiro-bloco__lista__titulo, .segundo-bloco__lista__titulo{
    display:none;
}
.ver-mais__container--primeiro-bloco, .ver-mais__container--segundo-bloco {
    margin: 5% auto;
    width: 40%;
    height: 22vh;
}
.ver-mais__container--primeiro-bloco a, .ver-mais__container--segundo-bloco a {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.legenda--primeiro-bloco, .legenda--segundo-bloco{
    padding: 0 100%;
    margin-bottom: 6em;
    font-size: 1em;
}
.serviços__img {
    width: 75%;
}
/* ---------------- */

/* Celular Botoes */
.orçamento__titulo__container {
height: 10%;
}
.orçamento__titulo{
    font-size: 5.5vw;
} 
.orçamento__subtitulo{
    font-size: 4.8vw;
    padding: 0 1%;
}
.celular__container{
    display: none;
}

.botoes__container{
    padding: 20% 10% 15% 10%;
    height: fit-content;
}
.botao__email__container, .botao__whatsapp__container {
    width: 80vw;
    height: 20vh;
    justify-content: space-between;
}
.botao__whatsapp, .botao__email {
    width: 70vw;
    height:7vh;
}

.icone__email__botao, .icone__whatsapp__botao {
    display: none;
}
.email__texto, .whatsapp__texto {
    font-size: 5vw;
}
.botao__email__texto{
    font-size: 4.4vw;
}
.botao__whatsapp__texto {
    font-size: 5vw;
}
/* ------------------ */

/* Ligue já */
.ligue-ja__container{
    padding: 10% 0;
}
.ligue-ja__texto {
    font-size: 6vw;
}
.ligue-ja__telefones__container {  
    flex-grow: 1;
    flex-flow: column wrap;
}
.ligue-ja__telefones:nth-child(3){
    display: none;
}
.ligue-ja__telefones {
    font-size: 8vw;;
}
.ligue-ja__img { 
    display: none;
}
/* ------------------ */

/* Seção Avaliação */
.titulo__texto__container--posiçao {
    width: 100%;
    flex-flow: column;
    padding: 10% 0;
}
.titulo__texto, .titulo__texto--destaque {
font-size: 5vw;
line-height: 2em;
text-align: center;
}
.titulo__imagem__container {
    margin: 0 auto;
}

.avaliaçao__comentario__container {
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}
.avaliaçao__imagens__container {
    background: rgba(32,33,36,255);
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.fazer-comentario__container {
width: 80vw;
height: 50vh;
flex-wrap: nowrap;
}
.comentarios__orçamento__container {
    margin-top: 6vh;
}
.comentarios__texto {
    font-size: 1.3em;
    line-height: 7vh;  
}
.comentarios__texto--subtitulo {
    font-size: 4.4vw;
    line-height: 7vh;
}
.comentarios__link {
    font-size: 1.2em;
    font-weight: lighter;
    padding: 0;
}
.comentarios__link__texto {
    font-weight: lighter;
    font-size: 1.2em;
}
/* ------------------ */

/* Seção Localização */
.seçao__localizaçao__container {
    padding: 2.5% 0 0 0;
    border-bottom: none;
}
.localizaçao__img {
    width: 30%;
    height: auto;
}
.localizaçao__texto{
    font-size: 6.6vw;
    line-height: 2em;
}
.localizaçao__texto--subtitulo {
    font-size: 1.2em;
    line-height:1.5em;
    text-align: center;
    padding: 0 5% 5% 5%;
}
.mapa__container {   
    width: 100%;
    margin: 0;
}
.mapa{
    height: 50vh;
}
.fotos__banca__container {
display: none;
}
.endereço__container {
padding: 5% 2%;
}
.endereço__texto {
    text-align: center;

    font-size: 4.5vw;  
    line-height:2em;
}
.endereço__texto--subtitulo {
    font-size: 3.5vw;  
    line-height:2em;
    padding: 0 1%;
}
/* ------------------ */

/* Blog Abriu chaveiro */
.seçao__blog__container {
    margin-bottom: 10%;
}
.blog__titulo__container {
    height: 30vh;
}
.blog__titulo {
    font-size: 7.5vw;
    line-height: 2em;
}
.blog__subtitulo {
    font-size: 4.2vw;
    line-height: 2em;
    text-align:center;
    padding: 0 1%;
}
.blog {
    width: 100%;
    height: 50vh;
}
/* ------------------ */
}

/* -------------- Tablet --------------- */

@media screen and (min-width: 481px) and (max-width: 768px) {
    main {
        overflow: hidden;
    }
    /* ---------------- */
    
    /* Banner */
    .texto__banner {
        font-size: 10vw;
        line-height: 1.5em;
    }
    .texto__banner__container h2 {
        font-size: 5vw;
    }
    .texto__banner__container h3 {
        font-size: 3.7vw;
    }
    .seçao__banner__container {
        height: 85vh;
        background-attachment:fixed;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        clip-path: none;
    }
    /* ---------------- */
    
    /* Seção Perguntas (DESATIVADO NO MOBILE) */
    .seçao__perguntas__container {
        display: none;
    }
    /* ---------------- */
    
    /* Seção serviços */
    
    .serviços__titulo {
        padding: 5% 0;
    }
    .primeiro-bloco__serviços, .segundo-bloco__serviços {
        display: inline;
        width: 100%;
        height: 30vh;
        padding: 2% 0;
    }
    .primeiro-bloco__lista__item, .segundo-bloco__lista__item {
        display: none;
    }
    .primeiro-bloco__lista__titulo, .segundo-bloco__lista__titulo{
        display:none;
    }
    .ver-mais__container--primeiro-bloco, .ver-mais__container--segundo-bloco {
        margin: 5% auto;
        width: 40%;
        height: 22vh;
    }
    .ver-mais__container--primeiro-bloco a, .ver-mais__container--segundo-bloco a {
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .legenda--primeiro-bloco, .legenda--segundo-bloco{
        padding: 0 100%;
        margin-bottom: 6em;
        font-size: 1em;
    }
    .serviços__img {
        width: 75%;
    }
    /* ---------------- */
    
    /* Celular Botoes */
    .orçamento__titulo__container {
    height: 10%;
    }
    .orçamento__titulo{
        font-size: 5.5vw;
    } 
    .orçamento__subtitulo{
        font-size: 4.8vw;
        padding: 0 1%;
    }
    .celular__container{
        display: none;
    }
    
    .botoes__container{
        padding: 20% 10% 15% 10%;
        height: fit-content;
    }
    .botao__email__container, .botao__whatsapp__container {
        width: 80vw;
        height: 20vh;
        justify-content: space-between;
    }
    .botao__whatsapp, .botao__email {
        width: 70vw;
        height:7vh;
    }
    
    .icone__email__botao, .icone__whatsapp__botao {
        display: none;
    }
    .email__texto, .whatsapp__texto {
        font-size: 5vw;
    }
    .botao__email__texto{
        font-size: 4.4vw;
    }
    .botao__whatsapp__texto {
        font-size: 5vw;
    }
    /* ------------------ */
    
    /* Ligue já */
    .ligue-ja__container{
        padding: 10% 0;
    }
    .ligue-ja__texto {
        font-size: 6vw;
    }
    .ligue-ja__telefones__container {  
        flex-grow: 1;
        flex-flow: column wrap;
    }
    .ligue-ja__telefones:nth-child(3){
        display: none;
    }
    .ligue-ja__telefones {
        font-size: 8vw;;
    }
    .ligue-ja__img { 
        display: none;
    }
    /* ------------------ */
    
    /* Seção Avaliação */
    .titulo__texto__container--posiçao {
        width: 100%;
        flex-flow: column;
        padding: 10% 0;
    }
    .titulo__texto, .titulo__texto--destaque {
    font-size: 5vw;
    line-height: 2em;
    text-align: center;
    }
    .titulo__imagem__container {
        margin: 0 auto;
    }
    
    .avaliaçao__comentario__container {
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vh;
    }
    .avaliaçao__imagens__container {
        background: rgba(32,33,36,255);
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
    }
    .fazer-comentario__container {
    width: 80vw;
    height: 50vh;
    flex-wrap: nowrap;
    }
    .comentarios__orçamento__container {
        margin-top: 6vh;
    }
    .comentarios__texto {
        font-size: 1.3em;
        line-height: 7vh;  
    }
    .comentarios__texto--subtitulo {
        font-size: 4.4vw;
        line-height: 7vh;
    }
    .comentarios__link {
        font-size: 1.2em;
        font-weight: lighter;
        padding: 0;
    }
    .comentarios__link__texto {
        font-weight: lighter;
        font-size: 1.2em;
    }
    /* ------------------ */
    
    /* Seção Localização */
    .seçao__localizaçao__container {
        padding: 2.5% 0 0 0;
        border-bottom: none;
    }
    .localizaçao__img {
        width: 30%;
        height: auto;
    }
    .localizaçao__texto{
        font-size: 6.6vw;
        line-height: 2em;
    }
    .localizaçao__texto--subtitulo {
        font-size: 1.2em;
        line-height:1.5em;
        text-align: center;
        padding: 0 5% 5% 5%;
    }
    .mapa__container {   
        width: 100%;
        margin: 0;
    }
    .mapa{
        height: 50vh;
    }
    .fotos__banca__container {
    display: none;
    }
    .endereço__container {
    padding: 5% 2%;
    }
    .endereço__texto {
        text-align: center;
    
        font-size: 4.5vw;  
        line-height:2em;
    }
    .endereço__texto--subtitulo {
        font-size: 3.5vw;  
        line-height:2em;
        padding: 0 1%;
    }
    /* ------------------ */
    
    /* Blog Abriu chaveiro */
    .seçao__blog__container {
        margin-bottom: 10%;
    }
    .blog__titulo__container {
        height: 30vh;
    }
    .blog__titulo {
        font-size: 7.5vw;
        line-height: 2em;
    }
    .blog__subtitulo {
        font-size: 4.2vw;
        line-height: 2em;
        text-align:center;
        padding: 0 1%;
    }
    .blog {
        width: 100%;
        height: 50vh;
    }
    /* ------------------ */
    }