*{
    box-sizing: border-box;
    transition: 1.5s;
}


/* Corpo site */

main {
    background: rgb(216, 216, 216);
}
.botao__flutuante__whatsapp{
  
    width: 7%;
    bottom: 5.5em;
    padding: 1em;
    position: sticky;
    margin-left: 93%;
  }

/* ------------ */

/* Banner */
.container {
    width: 100%;
    height: auto;
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.banner-container {
    background: url('/assets/img/banner.png');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
    background-size: cover;


}
.container-texto-banner {
    background: rgba(199, 199, 199, 0.514);
    width: 100%;
    padding: 0;

}
.texto-principal {
    font-family: 'Noto Sans', sans-serif;
    color: #fefefe;
    text-align: center;
    top: 1em;
    font-size: 6em;
    line-height: 1.5em;
}
.container-texto-banner h2 {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(51, 51, 51);

    font-weight: bold;
    text-align: center;
    top: 1em;
    font-size: 3.5em;
    line-height: 2em;
}

.container-texto-banner p {
    font-family: 'Noto Sans', sans-serif;
    color: #fefefe;

    font-weight: bold;
    text-align: center;
    top: 1em;
    font-size: 2em;
    line-height: 2em;
}
/* ------------ */

/* Perguntas */

.container-perguntas {
    background: goldenrod;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
}
.divisao-perguntas {
    
    display: flex;
    flex-grow: 1;
    margin: 2.5% 5%;
}
.divisao-perguntas li {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: rgb(46, 46, 46);
    
    font-size: 2em;
    line-height: 3em;
}

/* ----------------- */
.bloco-serviços-container {
    width: 100%;

}

.serviços-container{
    width: 100%;
    background: #cecece;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 
}
.serviços-titulo-container{
    width: 100%;

    background: rgba(32,33,36,255);

    text-align: center;
}
.serviços-titulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: #fefefe;
    
    font-size: 2.0em;
    line-height: 3em;
}

.serviços-box-container1, .serviços-box-container2 {
    padding: 2.5%;
    background:#fefefe;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap-reverse;
    align-items:flex-end;

    
}
.serviços-box-container2 {
    border-top: 5px dotted rgba(32,33,36,255);
}
.serviços-box-container1 ul, .serviços-box-container2 ul {
    
    width:60%
}
.serviços-box-container1 li, .serviços-box-container2 li {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: rgba(32,33,36,255);
    
    font-size: 1.5em;
    line-height: 2.5em;

    display: flex;
 
}
.serviços-box-container1 p:first-child, .serviços-box-container2 p:first-child {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: rgba(32,33,36,255);
    background: goldenrod;
    
    font-size: 1.5em;
    line-height: 2.5em;
    text-align: center;


}

.serviços-box1, .serviços-box2  {
    width: 15em;
    height: 19.5em;
    text-decoration: none;
    background: goldenrod;
    
    overflow: hidden;
    border-radius: 10px;

}
.serviços-box1 a, .serviços-box2 a{
    text-decoration: none;
}

.serviços-box1 img:hover, .serviços-box2 img:hover {
    filter: blur(4px);
}
.legenda-serviços1:hover, .legenda-serviços2:hover {
    transition: 0.5s;
    color: goldenrod;
    background-color: rgba(20, 20, 20, 0.74);
}

.legenda-serviços1, .legenda-serviços2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;
    
    
    color: rgb(51, 51, 51);
    background-color: rgba(78, 78, 78, 0.411);
    
    
    font-size: 1.5em;
    line-height: 3em;
}


.img-serviços {
    padding: 5%;
    width: 15em;
}
.img-janela {
    
    margin-left: 1em;
    width: 1em;
}


/* Celular, botões e Orçamento */

.orçamento-titulo-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.5%;
    height: 15em;
    background: rgba(32,33,36,255);
}
.orçamento-titulo-container p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: goldenrod;
    
    font-size: 2.0em;
    line-height: 3em;
}
.orçamento-titulo-container p:nth-child(2){
    font-weight: lighter;
    font-size: 1.7  em;
}
.horas {
    color:#cecece;
}

.celular-botoes-container{
    
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;

}

.divisao-celular-botoes {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: wrap;
}
.container-celular {
    width:60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.celular-main {
    width: 75%;

}
.celular-main:hover {
    opacity: 80%;
    cursor: pointer;
}

.botoes-container {  
    
    display: flex;
    flex-flow: column;
    
}


.botoes-container a {
    text-decoration: none;
}


/* botoes flutuantes email e whatsapp */
.box-whats {
  
    display: flex;
    
    flex-flow: column;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    height: 15em;
    padding:5%;
    margin-bottom: 15%;

    border: 5% solid transparent;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.63);
    box-shadow:  20px 10px 30px rgba(52, 175, 35, 0.74);
}
.texto-box-whats {

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.84);
    font-size: 1.5em;
}
.botao-whatsapp-boxwhats {
    width: 30em;
    height: 5em;
    margin: 2em 1em;

    background: rgb(52, 175, 35);

    border: transparent;
    border-radius: 4em;
    box-shadow: 0px 0px 30px rgba(52, 175, 35, 0.45);
    cursor: pointer;
}
.texto-botao-whatsapp {
    font-family: 'Open Sans', sans-serif;
    
    color: rgba(255, 255, 255, 0.84);
    font-size: 1.5em;
}
.icon-whats {
    width: 3em;
    margin: 0px 10px 0px 0px;
    vertical-align: middle;
}

.box-whats:hover {
    background: #70c934;
    font-style: oblique;
}
.box-whats:hover .texto-box-whats {
    color: #ffffff;
}
.box-whats:hover .botao-whatsapp-boxwhats {
    font-style: oblique;
}

.box-email{
    
    display: flex;
    
    flex-flow: column;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    height: 15em;
    margin: 5;
    

    border: 5% solid transparent;
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.63);
    box-shadow:  20px 10px 30px rgba(255, 68, 0, 0.74);
}
.texto-box-email {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.84);
    font-size: 1.5em;
}
.botao-email-boxmail {
    
    width: 30em;
    height: 5em;
    margin: 2em 1em;

    background: rgb(255 70 0);

    border: transparent;
    border-radius: 4em;
    box-shadow: 0px 0px 30px rgba(255, 68, 0, 0.74);
    cursor: pointer;
}
.texto-botao-email {
    font-family: 'Open Sans', sans-serif;

    color: rgba(255, 255, 255, 0.84);
    font-size: 1.5em;
}
.icon-mail {
    width: 2em;
    margin: 0px 15px 0px 0px;
    vertical-align: middle;
}

.box-email:hover {
    transition: 1s;
    background: #f12f29ce;
}
.box-email:hover .texto-box-email {
    color: rgba(255, 255, 255, 0.84);  
    font-style: oblique;
}
.box-email:hover .texto-botao-email {
    color: 	#0068ca;
    font-style: oblique;
}  
.box-email:hover .botao-email-boxmail {
        transition: 1s;
        background: #ffffff;
}
/* ------------ */

/* seção ligue já */
.ligue-ja-container {
    width: 100%;
    
} 
.ligue-ja-flex {
    padding: 2.5% 0;
    width: 100%;
    
    background: goldenrod;

    border-top: 5px dotted rgb(66, 66, 66);
    border-bottom: 5px dotted rgb(66, 66, 66);
    
}
.ligue-ja-texto p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    
    color: #fefefe;
    
    font-size: 2.0em;
    line-height: 2em;
}
.ligue-ja-texto p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;

    margin-left: 1%;
    color: rgba(32,33,36,255);
}

.ligue-ja-texto {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    

}
.ligue-ja-numeros {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.ligue-ja-numeros p:nth-child(3){
    margin:0 1%;
}
.ligue-ja-numeros a {
    text-decoration: none;
}
.ligue-ja-numeros p:hover {
    
    color: #fefefe;
    
}

.ligue-ja-numeros p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    
    color: rgba(32,33,36,255);
    
    font-size: 2.5em;
    line-height: 2em;
}

.ligue-ja-img {
    width: 5%;
    padding-right: 1%;
}
/* ---------------- */

/* avaliação */

.seção-avaliaçao {
    width: 100%;
}

.titulo-container {
    background: rgba(32,33,36,255);
    display: flex;
    flex-flow: row wrap;

    width: 100%;
    padding: 2%;

}
.avaliaçao-titulo {
    display: flex;
    flex-grow: 1;
    align-items:center;
    order:0;

}
.avaliaçao-titulo p {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: rgb(161, 161, 161);
    
    font-size: 2em;
    line-height: 3em;
    margin-left: 5%;
}
.avaliaçao-titulo p span {
    color: goldenrod;
}
.imagem-titulo-container {
    display: flex;

}
.header-avaliaçao {
    width: 100%;
    height: auto;
}


.comentarios-container {
    background: goldenrod;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
.background-seçao-comentarios {
    background: url('/assets/img/banca2.PNG');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 50%;
    background-size: cover;
    overflow: hidden;
}
.box-comentarios {
    background: rgba(0, 0, 0, 0.7);

    width: 30em;
    height: 30em;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

}
.box-comentarios p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: #fefefe;
    
    font-size: 1.1em;
    line-height: 3em;
}
.box-comentarios p:nth-child(2) {
    font-weight: lighter;
}
.box-comentarios a {
    font-weight: lighter;
    font-size: 1.1em;
    
    text-decoration: overline;
    line-height: 2em;
    color: goldenrod;
}
.box-comentarios a:hover {
    transition: 1s;
    text-decoration:solid;
    color: rgb(139, 137, 134);

    font-size: 1.2em;
}
.box-link {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    width: 100%;
    background: goldenrod;
    overflow: hidden;
}
.box-link p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: #fefefe;
    
    font-size: 1.1em;
    line-height: 3em;
}
.box-link:hover{
    transition: 1.5s;
    background: rgba(52, 175, 35, 0.74);
    color: #fefefe;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.hover-link {
    display: none;
}
.hover-link a {
    text-decoration: none;
}
.box-link:hover .hover-link {
    transition: 1.5s;
    display: block;

    text-align:  center;
}
.hover-exclusao {
    display: block;
}
.box-link:hover .hover-exclusao {
    transition: 1.5s;
    display: none;
}


.imagens-avaliaçao-container {
    display: flex;
    flex-flow: column wrap;

}
.Avaliaçao-imagens {
background: rgba(32,33,36,255);
width:100%;
height: auto;
}

/* ------------ */

/* marcas */


/* ------------ */

/* G maps */
.container-mapa-fotos {
    background: goldenrod;
    
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
}
.primeira-seçao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2.5% 0 5% 0;
    border-bottom: 5px dotted black;
}
.container-onde-estamos-localizados {
    padding: 0 0 2.5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.icone-localizaçao {
    width: 10%;
    height: auto;
}
.container-onde-estamos-localizados p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2em;
    line-height: 2.5em;
}
.container-onde-estamos-localizados p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;

    line-height:1.5em;
    font-size: 1.5em;
}

.container-mapa {
    width: 80%;
    height: auto;
    margin: 0 10% 0 10%;
}
.mapa {
    width: 100%;
    height: 30em;
}

.container-fotos-banca {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

}
.g-imagens {
    width: 33.3%;
    height: auto;
}

.endereço {
    background: rgba(32,33,36,255);

    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;   
}
.endereço p {
    font-family: 'Open Sans', sans-serif;
    color: goldenrod;
    font-weight: bold;
    text-align: center;

    line-height:2em;
    font-size: 1.5em;  
}
.endereço p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    color: #fefefe;
    font-weight: bold;
    text-align: center;

    line-height:2em;
    font-size: 1.5em;  
}




/* ------------ */

/* Blog */

.containerBlog {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    flex-basis: 100%;
    height: 100vh;
}
.container-textoBlog {
    margin: 5vh 0;
}

.container-textoBlog p:first-child {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: rgba(32,33,36,255);
    
    font-size: 2em;
    line-height: 3em;
}
.container-textoBlog p:nth-child(2) {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: rgba(32,33,36,255);
    
    font-size: 1.5em;
    line-height: 3em;
}

.blog-frame {
    width: 85%;
    height: 40em;
}