*{
    box-sizing: border-box;
    transition: 1.5s;
}
/* Corpo site */
main {
    background: rgb(216, 216, 216);
}

.botao__flutuante__whatsapp{
  
    width: 7%;
    bottom: 5.5em;
    padding: 1em;
    position: sticky;
    margin-left: 93%;
  }
/* ------------ */

/* Banner */
.seçao__banner__container {
    background-image: url('../../img/logo.png');
    background-blend-mode:darken;
    background-color: #cecece;

    background-size: 40%;
    background-attachment:fixed;
    background-position-x: 50% ;
    background-position-y: 50% ;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    height: 100vh;
    
    overflow: hidden;
    border-bottom: 5px dotted black; 
}

.texto__banner__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: rgba(29, 29, 29, 0.808);
    width: 100%;

}
.texto__banner {
    
    font-family: 'Noto Sans', sans-serif;
    color: goldenrod;
    text-align: center;
    top: 1em;
    font-size: 14vh;
    line-height: 1.5em;
}
.texto__banner__container h2 {
    
    font-family: 'Noto Sans', sans-serif;
    color: #cecece;

    font-weight: bold;
    text-align: center;
    top: 1em;
    font-size: 3.5em;
    line-height: 2em;
}

.texto__banner__container p {
    
    font-family: 'Noto Sans', sans-serif;
    color: goldenrod;

    font-weight: bold;
    text-align: center;
    top: 1em;
    font-size: 2em;
    line-height: 2em;
}
/* ------------ */

/* Perguntas */
.seçao__perguntas__container {
    
    background: goldenrod;
    width: 100%;
    height: auto;
    

    display: flex;
    flex-flow: row wrap;
}
.lista__perguntas {
    
    display: flex;
    flex-grow: 1;
    margin: 2.5% 5%;
}
.lista__perguntas li {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: rgb(46, 46, 46);
    
    font-size: 2em;
    line-height: 3em;
}

/* ----------------- */

/* Seção de Serviços */
.seçao__serviços__container{
    width: 100%;
}
.serviços__titulo__container{
    
    background: rgba(32,33,36,255);

    width: 100%;
    text-align: center;
}
.serviços__titulo{
    
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    
    font-weight: bold;
    font-size: 2.0em;
    line-height: 3em;
}

.blocos__serviços__container{
    
    background: #cecece;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.primeiro-bloco__serviços, .segundo-bloco__serviços {
    padding: 2.5%;
    background:#fefefe;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap-reverse;
    align-items:flex-end; 
}
.segundo-bloco__serviços {
    border-top: 5px dotted rgba(32,33,36,255);
}

.primeiro-bloco__lista, .segundo-bloco__lista {
    width:60%
}
.primeiro-bloco__lista__item, .segundo-bloco__lista__item {
    
    font-family: 'Open Sans', sans-serif;
    color: rgba(32,33,36,255);
    
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2.5em;

    display: flex;
}
.primeiro-bloco__lista__titulo, .segundo-bloco__lista__titulo {
    
    color: rgba(32,33,36,255);
    background: goldenrod;  

    font-family: 'Open Sans', sans-serif;

    font-weight: bold;
    font-size: 1.5em;
    line-height: 2.5em;
    text-align: center;
}

.ver-mais__container--primeiro-bloco, .ver-mais__container--segundo-bloco {
    
    background: goldenrod;
    
    width: 15em;
    height: 19.5em;
    text-decoration: none;
    
    overflow: hidden;
    border-radius: 10px;
}
.ver-mais__container--primeiro-bloco a, .ver-mais__container--segundo-bloco a {
    text-decoration: none;
}
.ver-mais__container--primeiro-bloco img:hover, .ver-mais__container--segundo-bloco img:hover {
    filter: blur(4px);
}

.legenda--primeiro-bloco:hover, .legenda--segundo-bloco:hover {
    
    transition: 0.5s;

    color: goldenrod;
    background-color: rgba(20, 20, 20, 0.74);
}

.legenda--primeiro-bloco, .legenda--segundo-bloco {
    
    color: rgb(51, 51, 51);
    background-color: rgba(78, 78, 78, 0.411);

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;

    font-size: 1.5em;
    line-height: 3em;
}

.serviços__img {
    
    padding: 5%;
    width: 15em;
}
.icone__abrir-pagina {
    
    margin-left: 1em;
    width: 1em;
}
/* ----------------- */

/* Celular, botões e Orçamento */
.seçao__orçamento__container{
 
    display: flex;
    flex-wrap: wrap; 

    width: 100%;
    height: auto;
}

.orçamento__titulo__container {
    
    background: rgba(32,33,36,255);

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5%;

    width: 100%;
    height: 15em; 
}
.orçamento__titulo {
       
    color: goldenrod; 

    font-family: 'Open Sans', sans-serif;

    font-weight: bold;
    font-size: 2.0em;
    line-height: 3em;
}
.orçamento__subtitulo{
    color: goldenrod; 

    font-family: 'Open Sans', sans-serif;

    font-weight: lighter;
    font-size: 1.7em;
    line-height: 3em;
}
.orçamento__titulo--horas {
    color:#cecece;
}

.orçamento__container {
   
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: wrap;
}

.celular__container {
    
    width:60%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
}
.celular__img {
    width: 75%;
}
.celular__img:hover {
    
    opacity: 80%;
    cursor: pointer;
}

.botoes__container {  
    
    display: flex;
    flex-flow: column;
}
.botoes__container a {
    text-decoration: none;
}

/* botoes flutuantes whatsapp e email */
.botao__whatsapp__container {
   
    background: rgba(255, 255, 255, 0.63);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
   
    width: 26rem;
    height: 15rem;
    padding:5%;
    margin-bottom: 15%;

    border: 5% solid transparent;
    border-radius: 1rem;
    box-shadow:  1rem 1rem 1rem rgba(52, 175, 35, 0.74);
}
.whatsapp__texto {

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.84);
    font-size: 1.5em;
}
.botao__whatsapp {
    width: 22rem;
    height: 5rem;
    margin: 1rem 1rem;

    background: rgb(52, 175, 35);

    border: transparent;
    border-radius: 10rem;
    box-shadow: 0px 0px 1rem rgba(52, 175, 35, 0.45);
    cursor: pointer;
}
.botao__whatsapp__texto {
    font-family: 'Open Sans', sans-serif;
    
    color: rgba(255, 255, 255, 0.84);
    font-size: 1.5em;
}
.icone__whatsapp__botao {
    width: 3em;
    margin: 0px 10px 0px 0px;
    vertical-align: middle;
}

.botao__whatsapp__container:hover {
    background: #70c934;
    font-style: oblique;
}
.botao__whatsapp__container:hover .whatsapp__texto {
    color: #ffffff;
}
.botao__whatsapp__container:hover .botao__whatsapp {
    font-style: oblique;
}


.botao__email__container{
    
    display: flex;
    
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
   
    width: 26rem;
    height: 15rem;
    padding:5%;
    margin-bottom: 15%;
    
    

    border: 5% solid transparent;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.63);
    box-shadow:  1rem 1rem 1rem rgba(255, 68, 0, 0.74);
}
.email__texto {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.84);
    font-size: 1.5em;
}
.botao__email {
    
    width: 22rem;
    height: 5rem;
    margin: 1rem 1rem;

    background: rgb(255 70 0);

    border: transparent;
    border-radius: 10rem;
    box-shadow: 0 0 1rem rgba(255, 68, 0, 0.74);
    cursor: pointer;
}
.botao__email__texto {
    font-family: 'Open Sans', sans-serif;

    color: rgba(255, 255, 255, 0.84);
    font-size: 1.3em;
}
.icone__email__botao {
    width: 2em;
    margin: 0px 15px 0px 0px;
    vertical-align: middle;
}

.botao__email__container:hover {
    transition: 1s;
    background: #f12f29ce;
}
.botao__email__container:hover .email__texto {
    color: rgba(255, 255, 255, 0.84);  
    font-style: oblique;
}
.botao__email__container:hover .botao__email__texto {
    color: 	#0068ca;
    font-style: oblique;
}  
.botao__email__container:hover .botao__email {
        transition: 1s;
        background: #ffffff;
}
/* ------------ */

/* seção ligue já */
.ligue-ja__container {

    padding: 2.5% 0;
    width: 100%;
    
    background: goldenrod;

    border-top: 5px dotted rgb(66, 66, 66);
    border-bottom: 5px dotted rgb(66, 66, 66);
}
.ligue-ja__texto__container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ligue-ja__texto {
    
    color: #fefefe; 
    font-family: 'Open Sans', sans-serif;
    
    font-weight: bold;
    font-size: 2.0em;
    line-height: 2em;
}
.ligue-ja__texto:nth-child(2) {
    
    font-family: 'Open Sans', sans-serif;

    font-weight: bold;
    text-decoration: none;

    margin-left: 1%;
    color: rgba(32,33,36,255);
}

.ligue-ja__telefones__container {
    
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.ligue-ja__telefones {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    
    color: rgba(32,33,36,255);
    
    font-size: 2.5em;
    line-height: 2em;
}
.ligue-ja__telefones:nth-child(3){
    margin:0 1%;
}
.ligue-ja__telefones:hover {
    color: #fefefe;
}
.ligue-ja__telefones__link {
    text-decoration: none;
}

.ligue-ja__img { 
    
    width: 5%;
    padding-right: 1%;
}
/* ---------------- */

/* avaliação */
.seçao__avaliaçao__container {
    width: 100%;
}

.titulo__avaliaçao__container {
    
    background: rgba(32,33,36,255);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
}
.titulo__texto__container--posiçao{
    display: flex;
    align-items: center;
    width: 50%;
    flex-flow: row;
}
.titulo__texto {
    
    color: rgb(161, 161, 161);
    display: flex;
    
    
    font-family: 'Open Sans', sans-serif;

    font-weight: bold;
    font-size: 2em;
    margin-right: 1%;
    
    
}
.titulo__texto--destaque {
    color: goldenrod;
    font-family: 'Open Sans', sans-serif;

    font-weight: bold;
    font-size: 2em;
    margin-right: 1%;
    
}
.titulo__imagem__container {
    display: flex;

}
.titulo__img {
    width: 100%;
    height: auto;
}


.avaliaçao__container {
    background: goldenrod;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
.avaliaçao__comentario__container {
    background-image: url('../../img/banca2.PNG');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 50%;
    background-size: cover;
    overflow: hidden;
}
.fazer-comentario__container {
    background: rgba(0, 0, 0, 0.7);

    width: 30em;
    height: 30em;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.comentarios__texto {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
    color: #fefefe;
    
    font-size: 1.1em;
    line-height: 3em;
}
.comentarios__texto--subtitulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    
    color: #fefefe;
    
    font-size: 1.1em;
    line-height: 3em;
}
.comentarios__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    
    text-decoration: overline;
    line-height: 2em;
    color: goldenrod;
}
.comentarios__link:hover {
    transition: 1s;
    text-decoration:solid;
    color: rgb(139, 137, 134);

    font-size: 1.2em;
}

.comentarios__orçamento__container {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    width: 100%;
    background: goldenrod;
    overflow: hidden;
}

.comentarios__orçamento__container:hover{
    transition: 1.5s;
    background: rgba(52, 175, 35, 0.74);
    color: #fefefe;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.comentarios__orçamento--on {
    display: none;
}
.comentarios__orçamento--on a {
    text-decoration: none;
}
.comentarios__orçamento__container:hover .comentarios__orçamento--on {
    transition: 1.5s;
    display: block;

    text-align:  center;
}
.comentarios__orçamento--block {
    display: block;
}
.comentarios__orçamento__container:hover .comentarios__orçamento--block {
    transition: 1.5s;
    display: none;
}

.avaliaçao__imagens__container {
    display: flex;
    flex-flow: column wrap;

}
.avaliaçao__imagens {
background: rgba(32,33,36,255);
width:100%;
height: auto;
}
/* ------------ */

/* Seção Localização */
.seçao__localizaçao__container {
    background: goldenrod;
    
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
    padding: 2.5% 0 5% 0;
    border-bottom: 5px dotted black;
}

.localizaçao__titulo__container {
    padding: 0 0 2.5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.localizaçao__img {
    width: 10%;
    height: auto;
}
.localizaçao__texto{
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2em;
    line-height: 2.5em;
}
.localizaçao__texto--subtitulo {
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;

    line-height:1.5em;
    font-size: 1.5em;
}

.mapa__container { 
    
    width: 80%;
    height: auto;

    margin: 0 10% 0 10%;
}
.mapa {
    width: 100%;
    height: 30em;
}
.fotos__banca__container {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
}
.banca__img {
    width: 33.3%;
    height: auto;
}

.endereço__container {
    background: rgba(32,33,36,255);

    width: 100%;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;   
}
.endereço__texto {
    font-family: 'Open Sans', sans-serif;
    color: goldenrod;
    font-weight: bold;
    text-align: center;

    line-height:2em;
    font-size: 1.5em;  
}
.endereço__texto--subtitulo {
    font-family: 'Open Sans', sans-serif;
    color: #fefefe;
    font-weight: bold;
    text-align: center;

    line-height:2em;
    font-size: 1.5em;  
}
/* ------------ */

/* Blog */
.seçao__blog__container {

    display: flex;
    flex-flow: column;
    align-items: center;

    flex-basis: 100%;
    height: fit-content;
}
.blog__titulo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

.blog__titulo {
    color: rgba(32,33,36,255);
    font-family: 'Open Sans', sans-serif;

    display: flex;
    justify-content: center;
    font-weight: bold;
    
    font-size: 2em;
    line-height: 3em;
}
.blog__subtitulo {
    color: rgba(32,33,36,255);
    font-family: 'Open Sans', sans-serif;

    display: flex;
    justify-content: center;
    font-weight: bold;
    
    font-size: 1.5em;
    line-height: 3em;
}

.blog {
    width: 85%;
    height: 40em;
}