*{
  
  box-sizing: border-box;
  transition: 1s;
  scroll-behavior: smooth;
}
#menu__mobile {
  display:block;
  width: 100%;
}
#navegaçao__mobile { 
  display: none;
  background: #bdbcbc;
  
}
#navegaçao__mobile li a {
  color: rgb(66, 66, 66);
  vertical-align: middle;
}
.cabeçalho__container {
  
  width: 100%;
  height: 4em;
  background: #daa520;

  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 

  border-bottom: 3px solid black;
  border-width: 1px;
}

/* Cabeçalho Titulo e Logo */
.cabeçalho__titulo__logo__container {
  
  background: #333333;
  width: 30%;
  height: 4em;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.cabeçalho__titulo__container {
  
  height: 1.9em;
  display: flex;
  align-items: end;
}
.cabeçalho__titulo {
  
  font-family: 'Open Sans', sans-serif;
  
  font-size:1.5vw;
  font-weight: bold;

  color: goldenrod;
}
.logo__cabeçalho__img {
  
  padding: 2.5% 0 0 10%;
  width: 20vh;
  position: relative;
}
/* ------------------------ */

/* Cabeçalho Menu Navegação */
.nav__container {
  
  display: flex;
  justify-content: end;
  width: 50%;
}
.nav__container__menu {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.nav__menu__itens {
  
  display: flex;
  width: 100%;
  
}
.nav__menu__itens__link {
  height: 4rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  font-family: 'Noto Sans', sans-serif;
  
  text-decoration: none;

  
  font-size: 1.2vw;
  padding: 2% 5%;

  color: rgb(66, 66, 66);
}
.icone__menu__inicio {
  margin-left: 10%;
}

.nav__menu__itens a:hover, .active{
  background: rgb(66, 66, 66) !important;
  color: goldenrod;
}

.nav__menu__itens a:hover {
  background: rgb(66, 66, 66) ;
  color: goldenrod;
}
/* ------------------------ */


/* Menu Complementar da Seção Inicio ----- */

.nav__container__menu ol li a{    /* Estilização textual do menu complementar ----- */
  
  font-family: 'Noto Sans', sans-serif;
  font-weight: lighter;
  text-decoration: none;

  color: rgb(66, 66, 66);

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items:flex-start;
  padding-left: 10%;
  
  
  font-size: 1vw;
  line-height: 3.5em;

}
/* ------------------------- */

.nav__container__menu li ol{     /* Fundo do menu complementar */
  
  position: absolute;
  margin-top: 3.9em;
  
  width: 11.3%;
  height:fit-content;

  background-color: #ececec;
  border-bottom: solid rgb(66, 66, 66);
  border-radius: 0 0 10px 10px;

  display:none;
  overflow: hidden;
  }

.nav__container__menu li:hover ol {
  
  display: block;
  }
.nav__container__menu ol li a:hover {
  
  color: goldenrod;
}
/* ----*/