*{
  box-sizing: border-box;
  transition: 1s;
  scroll-behavior: smooth;

}

#hidden{
  display:block;


  width: 100%;
  
}
.adiçao-menu-mobile{
  display: none;
}
/* cabeçalho */
.recurso-cabeçalho .container-cabeçalho {
  width: 100%;
  height: 3em;
  background: #daa520;

  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 

  border: 3px solid black;
  border-width: 0 0 1px 0;

  


}

.logo-container {
  background: #333333;
  width: 30%;
  height: 3em;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

}
.img-cabeçalho {
  padding: 20% 0 0 10%;
  width: 4em;
  position: relative;
}
.titulo-cabeçalho-container {
  height: 1.9em;
  display: flex;
  align-items: end;
}
.titulo-cabeçalho {
  font-family: 'Open Sans', sans-serif;
  
  font-size:1.3em;
  font-weight: bold;

  color: goldenrod;
}

.cabeçalho-nav-container {
  display: flex;
  justify-content: end;
  width: 60%;
}
.cabeçalho-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.cabecalho-navegaçao-itens {
  display: flex;
  width: 100%;
  
}
/* cabeçalho */
.nav-hover {
  height: 2em
}
.cabecalho-navegaçao-itens > a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  font-family: 'Noto Sans', sans-serif;
  
  text-decoration: none;

  
  font-size: 1.1vw;
  padding: 2% 5%;

  color: rgb(66, 66, 66);
}

.cabecalho-navegaçao-itens a > p {
  margin-left: 10%;
}
.cabecalho-navegaçao-itens a:hover {
  background: rgb(66, 66, 66) ;
  color: goldenrod;
}
/* ----------- */


/* sub menu inicio ----- */

.cabeçalho-menu ol li a{    /* sub menu letras ----- */
  font-family: 'Noto Sans', sans-serif;
  font-weight: lighter;
  text-decoration: none;

  color: rgb(66, 66, 66);

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
  font-weight: lighter;
  line-height: 3.5em;

}
.cabeçalho-menu ol li a:hover {
  color: goldenrod;
}
.cabecalho-navegaçao-itens li:hover{

  background: #333333;
  
}
/* fim sub menu letras ----- */


.cabeçalho-menu ol p {  /* texto inicio sub menu */
  font-family: 'Noto Sans', sans-serif;
  font-weight: lighter;

  background: rgb(66, 66, 66);
  color: goldenrod;;
  font-size:0.9em;
  padding: 2% 5%;
  
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  
  font-weight: lighter;
  line-height: 2em;
}

.cabeçalho-menu li ol{     /* fundo do sub menu */
  
  
  position: absolute;
  margin-top: 3em;
  

  width: 10em;
  height:24em;

  background-color: #cecece;
  border-bottom: solid rgb(66, 66, 66);
  border-radius: 0 0 10px 10px;

  display:none;
  overflow: hidden;
  
  }

  .cabeçalho-menu li:hover ol {
    display: block;
  }
/* ----*/